.unsplashModal{
    height: 500px;
}

.unsplashSearch{

    margin: 25px;
    margin-bottom: 0px;
    
    input[type="text"]{
        width: 100%;
        border: #b9b9b9 1px solid;
        border-radius: 7px;
        padding: 10px;
        outline: none;
    }
}

.unsplashContentWrapper{
    height: 500px;
    border: 2px solid #ccc;
    padding: 20px;
    margin: 25px;
    max-height: 100%; /* Set a fixed maximum height */
    overflow: auto; /* Add a scrollbar when content overflows */
    
}
.unsplashPictures{
    display: flex;
    flex-wrap: wrap;

    img{
        max-height: 256px;
        max-width: 100%;
        margin: 15px auto;
        display: block;
        object-fit: contain;
        cursor: pointer;
    }
}