.giphyModal{
    height: 500px;
}

.giphySearch{
    
    input[type="text"]{
        width: 100%;
        border: #b9b9b9 1px solid;
        border-radius: 7px;
        padding: 10px;
        margin-bottom: 20px;
        outline: none;
    }
}

.giphyContentWrapper{
    height: 500px;
    border: 2px solid #ccc;
    padding: 20px;
    margin: 10px;
    max-height: 90%; /* Set a fixed maximum height */
    overflow: auto; /* Add a scrollbar when content overflows */
    
}