@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main{
  font-family: "Inter", sans-serif;
}
.container{
  display: flex;
  height: 90vh;
}
.mainContainer{
  display: flex;
  height: 90vh;
}


.sidebarContainer{
  width: 275px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  background-color: #fbfbfb;
  box-shadow: 2px 0px 9px -2px #c9c3c3;
}

.contentContainer{
  padding: 5px 20px;
  width: 100%;
}

.displayBlock{
  display: block;
}

.displayNone{
  display: none;
}