// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;

$primary-color: #0c66e4;
$primary-hover-color: #0044aa;
$primary-dark-color: #003366;
$grey-dark: #e4e4e4;
$grey-light: #f1f1f1;
$grey-text: #888;
