.authenticate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;

  p {
    animation: fadeIn 1s ease-in-out infinite alternate;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
