@use "@styles/variables" as vars;

.channelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  label {
    padding: 1rem;
    font-size: xx-large;
  }
}
.connectChannelList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
  img {
    height: 2.5rem;
    width: 2.5rem;
  }
  span {
    font-size: small;
  }
}

.connectChannel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 0.7rem;
  padding: 0.5rem;
}
.connectChannel:hover {
  background-color: vars.$grey-light;
}
