@use "@styles/variables" as vars;

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #003366;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #003366;
  cursor: pointer;
}

.navbar-search {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 20px;
}

.navbar-search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #336699;
}

.navbar-search-input {
  width: 300px;
  padding: 8px;
  padding-left: 35px;
  border-radius: 4px;
  border: 1px solid #6699cc;
  outline: none;
  background-color: #f5faff;
  color: #003366;
}

.navbar-actions {
  display: flex;
  gap: 10px;
}

.navbar-profile,
.navbar-logout {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: vars.$primary-color;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-profile:hover,
.navbar-logout:hover {
  background-color: vars.$primary-dark-color;
}

.navbar-logout-modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navbar-logout-modal-buttons {
  display: flex;
  justify-content: space-evenly;
}

.navbar-logout-modal-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
