.channelContainer{
    padding: 2rem;
    label{
        padding: 1rem;
        font-size: xx-large;
    }
}
.connectChannelList{
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    img{
        height: 2.5rem;
        width: 2.5rem;
    }
    span{
        font-size: small;
    }
}

.connectChannel{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 0.7rem;
    padding: 0.5rem;
}
.connectChannel:hover{
    background-color: #f1f1f1
}

.connectedChannelDiv{
    display: flex;
}
.connectedChannelsList{
    display: flex;
    gap: 0.5rem;
}

.connectedChannel{
    display: flex;
    align-items: center;
    justify-content: center;
}
.connectedChannelProfilePic{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 1.5rem;
}
.connectedChannelPic{
    position: relative;
    top: 0.8rem;
    right: 0.8rem;
    height: 1.2rem;
    width: 1.2rem;
}