.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 4rem;
}

.otpBoxes {
  display: flex;
  gap: 1rem;
}
.otpBox {
  width: 16%;
  max-width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.8rem;
  font-size: x-large;
  text-align: center;
}

.otpParentBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 25rem;
}

.otpHint {
  color: lightgrey;
  font-style: italic;
}

.otpButtons {
  width: 100%;
  max-width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.otpButtons a {
  cursor: pointer;
}

.otpVerifyButton {
  background-color: #646cff;
  color: white;
}
